.sidebar {
  width: 300px;
  height: 70%;
  background-color: white;
  position: fixed;
  top: 20;
  left: -300px;
  transition: left 0.5s ease-in-out;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(173, 172, 172, 0.5);
  overflow-y: auto;
}

.open {
  left: 0; /*Ouvre la sidebar en la déplaçant à gauche */
}

.header {
  background-color: #365b6d;
  padding: 20px;
  text-align: center;
}

.header h2 {
  color: white;
  margin: 0;
}

.header p {
  color: white;
  margin: 0;
}

.private-chats, .user-list {
  padding: 20px;
}

.private-chats h3, .user-list h3 {
  font-weight: 500;
  color: #333;
  margin-top: 10px;
}

.private-chats p, .user-list p {
  margin: 0;
  padding: 5px 0;
}

.return-img {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  z-index: 1; /* Place l'icône de retour au-dessus du contenu de la sidebar */
}

@media screen and (min-width: 748px) {
  .sidebar {
    position: relative;
    height: 570px;
    background-color: white;
    left: 0px;
    border-radius: 0px 5px 5px 0px;
    box-shadow: 0px 0px 10px rgba(173, 172, 172, 0.5);
    overflow-y: auto;
    width: 100%;
  }

  .return-img {
    display: none;
  }
}

