<div class="sidebar" [ngClass]="{ open: sidebarOpen }">
  <div class="header">
    <img
      src="assets/retour1.png"
      class="return-img"
      (click)="requestCloseSidebar()"
    />
    <h2>Salon global</h2>
  </div>

  <div class="train-room">
    <h3>Liste des salons du train</h3>
    <ng-container *ngFor="let chatMain of infoMainChat; let i = index">
      <ng-container
        *ngIf="
          chatMain.user.id == userId && !isDuplicateMain(chatMain.roomName, i)
        "
      >
        <p>Salon du train n° {{ chatMain.roomName }}</p>
      </ng-container>
    </ng-container>
  </div>

  <div class="user-list">
    <div class="title">
    <h3 id="compagnons">Mes compagnons </h3>
    <h3 id="mp">MP </h3>
  </div>

    <div *ngFor="let user of listUser; let i = index">
  <div class="containerUser">
    <div  (click)="selectUser(i)" *ngIf="user.is_connected == true">
      <img *ngIf="user.is_available == true" src="assets/chat/available2.png"  class="pastille-verte " >
      <img *ngIf="user.is_available == false" src="assets/chat/not-available2.png"  class="pastille-rouge " >
      <p class="dispo">{{ user.username }}</p>
      
    </div>
    <div (click)="selectUserFalse()" *ngIf="user.is_connected == false" >

      <img  src="assets/chat/not-available2.png" class="pastille-rouge">
      <p  class="nonDispo">{{ user.username }}</p>

    </div>
     

  </div>
</div>

  </div>
</div>
