<h2>Salon global</h2>



<div>
  <h3>Liste des salons du train</h3>
  <ng-container *ngFor="let chatMain of infoMainChat; let i = index">
    <ng-container *ngIf="chatMain.user.id == userId && !isDuplicateMain(chatMain.roomName, i)">
      <p>Salon du train n° {{chatMain.roomName}}</p>
    </ng-container>
  </ng-container>
</div>

<!-- <div>
  <h3>Liste des salons privés</h3>
  <div *ngFor="let chatMp of infoMpChat; let i = index">
    <ng-container *ngIf="chatMp.userReceiver == userId && !isDuplicateMp(chatMp, i)">
      <p>Salon privé avec {{chatMp.user.username}}</p>
    </ng-container>
  </div>
</div> -->


<div>
    <h3>Liste des utilisateurs : </h3>


<div *ngFor="let user of listUser; let i = index">
  <div class="containerUser">
  <p (click)="selectUser(i)" *ngIf="user.is_available == true"> {{user.username}}  </p>
  <p *ngIf="user.is_connected == true" class="pastille-verte">V</p>
  <p (click)="selectUserFalse()" *ngIf="user.is_available == false"> {{user.username}}  </p>
  <p *ngIf="user.is_connected == false" class="pastille-rouge">X</p>
</div>

</div>

</div>






