.container{
  display: none
}

.container-desktop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 2%;
}


.logo-desktop img {
  width: 150px;
  height: 110px;
  margin-bottom: 20px;
}

#burger-toggle{
  display: none;
}

.burger-icon {
  cursor: pointer;
  padding: 10px;
  margin-right: 2%;
}

.line {
  width: 30px;
  height: 3px;
  background-color: #333;
  margin: 6px 0;
}

.nav-desktop {
  list-style-type: none;
  padding: 0;
  position: absolute;
  top: 60px;
  margin-right: 2%;
  background-color: #fff;
  display: none;
  flex-direction: column;
  border-radius: 5px;

}

.nav-desktop li {
  padding: 10px;
}

.nav-desktop li a {
  text-decoration: none;
  color: #ffffff;
}

#burger-toggle:checked + .burger-icon + .menu {
  display: flex;
}

.nav-desktop.menu {
  transform: scale(1); /* Échelle normale par défaut */
  transform-origin: center; /* Centre la liste */
  display: none;
}

.nav-desktop.menu {
  transform: scale(1); /* Agrandi la liste lorsque isMenuOpen est vrai */
  display: flex; /* Affiche le menu */
  z-index: 2;
  top: 1%;
  left: 75%;
  right: auto;
  background-color:#365b6d;
}

.nav-link-desktop a {
  color: #fff;
  font-size: 1.2rem;
  text-decoration: none;
  margin-right: 30px;
}


@media screen and (min-width: 748px) {

  .container-desktop{
    display:none;
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0px;
    padding-top: 0;
    height: 80px;
    align-items: center;
  }

  .logo img {
    margin-top: 30px;
    margin-left: 100px;
    height: 70px;
    width: auto;
  }

  .nav-container {
    display: flex;
  }

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 0px;
    padding-left: 0;
    text-decoration: none;
    list-style-type: none;
    font-weight: 500;
    font-size: small;
  }
  a {
    text-decoration: none;
    margin-right: 30px;
  }
  img {
    width: 20px;
    margin-right: 5px;
    margin-bottom: 35px;
  }

  #nav-home {
    background: url("/assets/Header/home.png") no-repeat ;
    background-size: 16px 16px;
    padding-left: 25px;
    color: #365b6d;
    font-weight: 600;
    margin-bottom: 20px;
  }

  #nav-account {
    background: url("/assets/Header/account.png") no-repeat ;
    background-size: 16px 16px;
    padding-left: 25px;
    color: #365b6d;
  }

  #nav-contact {
    width: 45px;
    background: url("/assets/Header/contact.png") no-repeat ;
    background-position: 6px center;
    background-size: 16px 16px;
    background-color:#365b6d;
    padding: 5px 15px 7px 25px;
    color: white;
    border-radius: 5px;
  }
  #nav-chat {
    background: url("/assets/Header/chat.png") no-repeat ;
    background-size: 16px 16px;
    padding-left: 25px;
    color: #365b6d;
  }

}
