<div class="container">
  <div class="logo">
    <img src="/assets/logo.png" alt="logo train companion" />
  </div>
  <div class="nav-container">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" id="nav-home" routerLink="/search-train">Accueil</a>
      </li>
      <li>
        <a class="nav-link" id="nav-chat" routerLink="/chat">Chat</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="nav-account" routerLink="/account"
          >Mon compte</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" id="nav-contact" routerLink="/contact"
          >Nous contacter</a
        >
      </li>
    </ul>
  </div>
</div>

<div class="container-desktop">
  <div class="logo-desktop">
    <img
      src="/assets/logo.png"
      alt="logo train companion"
      (click)="closeMenu()"
    />
  </div>
  <div  class="burger-icon" (click)="toggleMenu()">
    <input type="checkbox" id="burger-toggle" />
    <label for="burger-toggle" >
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </label>
      <ul class="nav-desktop menu" *ngIf="isMenuOpen">
        <li class="nav-item-desktop">
          <a
            class="nav-link-desktop"
            id="nav-home-desktop"
            routerLink="/search-train"
            (click)="closeMenu(); $event.stopPropagation()"
            >Accueil</a
          >
        </li>
        <li class="nav-item-desktop">
          <a
            class="nav-link-desktop"
            id="nav-chat-desktop"
            routerLink="/chat"
            (click)="closeMenu(); $event.stopPropagation()"
            >Chat</a
          >
        </li>
        <li class="nav-item-desktop">
          <a class="nav-link-desktop" id="nav-account" routerLink="/account" (click)="closeMenu(); $event.stopPropagation()"
            >Mon compte</a
          >
        </li>
        <li class="nav-item-desktop">
          <a class="nav-link-desktop" id="nav-contact" routerLink="/contact" (click)="closeMenu(); $event.stopPropagation()"
            >Nous contacter</a
          >
        </li>
      </ul>
  </div>
</div>
