<div class="container">
  <div class="logo">
    <img src="/assets/logo.png" alt="logo train companion" />
  </div>
  <div class="nav-container">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" id="nav-home" routerLink="/train-info">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="nav-account" routerLink="/account">Mon compte</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="nav-contact" routerLink="/contact">Nous contacter</a>
      </li>
    </ul>
  </div>
</div>


<!-- <img src="/assets/Header/home.png" alt="accueil"> -->
