.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 10%;
  background-color: #365B6D;
  color: #fff;
  border-top-left-radius: 50% 30px;
  border-top-right-radius: 50% 30px;
  text-align: center;
  left: 0;
  overflow: hidden;

}



.copyright{
  position: absolute;
  left: 5px;
  bottom: 1px;
  font-weight: 100;
  font-size: small;
  
}

.cgu{
  position: absolute;
  right: 5px;
  bottom: 1px;
  font-weight: 100;
  font-size: small;
}

.footer img {
  width: 25px;
  height: 25px;
  margin-right: 5px;
  margin-left: 5px;



}

.reseaux{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  margin-top: 5%;
   padding: 0;

}

  .mentions {
    display: flex; /* Utilise la mise en page flexbox */
    justify-content: space-between; /* Aligne les éléments sur les côtés opposés */
    list-style-type: none;
    background-color: #365B6D;
    font-size: 0.6em;
    padding: 10px;
    padding-right: 10px;
   

}

a
{
  text-decoration: none;
  color: #fff;

}
