<div class="footer">

    <ul class="reseaux">

      <li class="copyright">      
        <p>© 2023 Sncf Companion</p>  
      </li>
      
      <li>
        <a href="https://www.facebook.com/" target="_blank">
          <img src="assets/facebook.png" alt="Facebook" />
        </a>
      </li>
      <li>
        <a href="https://www.twitter.com/" target="_blank">
          <img src="assets/twitter.png" alt="Twitter" />
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/" target="_blank">
          <img src="assets/instagram.png" alt="Instagram" />
        </a>
      </li>
      <li>
        <a href="https://www.snapchat.com/" target="_blank">
          <img src="assets/snapchat.png" alt="snapchat" />
        </a>
      </li>
      <li>
        <p class="cgu"><a href="assets/cgu.pdf" target="_blank">CGU </a> - <a href="assets/mentions_légales.pdf" target="_blank"
          >Mentions légales</a></p> 
      </li>
    </ul>

  </div>
