h3 {
  font-weight: 300;
  margin: 10px;

}

.container {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: rgb(85, 85, 85);
}

.signup {
  margin-top: 7%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
  text-align: center;
}



.signup button {
  width: 100%;
  height: 35px;
  border-radius: 15px;
  border: none;
  background-color: rgb(55, 90, 107);
  color: white;
  font-size: 1.1em;
  margin: 15px;
  margin-left: 0px;
}

.button-text {
  font-weight: 300;
}

.form-title {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #808080;
}

input {
  border: none;
  height: 30px;
  line-height: 30px;
  padding: 8px 15px;
  width: 80%;
}

//pour aligner les placeholders
// input::placeholder {
// text-align: center;
// }

.input-top {
  background-image: url(/assets/profil.png);
  background-position: 10px center;
  background-repeat: no-repeat;
  background-size: 15px 15px;
  padding-left: 40px;
  margin-bottom: 0px;
  border-radius: 15px 15px 0 0;
  background-color: white;
  border-bottom: 1px solid #ccc;
}

#firstname, #name {
  background-image: url(/assets/profil.png);
}

#birthday {
  background-image: url(/assets/horloge.png);
}

.input-no-border {
  background-image: url(/assets/courrier.png);
  background-position: 10px center;
  background-repeat: no-repeat;
  background-size: 15px 15px;
  padding-left: 40px;
  margin-bottom: 0px;
  background-color: white;
  border-bottom: 1px solid #ccc;

}

.input-key {
  background-image: url(/assets/cle.png);
  background-position: 10px center;
  background-repeat: no-repeat;
  background-size: 15px 15px;
  padding-left: 40px;
  background-color: white;
  border-bottom: 1px solid #ccc;


}

.input-bottom {
  background-image: url(/assets/cle.png);
  background-position: 10px center;
  background-repeat: no-repeat;
  background-size: 15px 15px;
  padding-left: 40px;
  border-radius: 0 0 10px 10px;
  background-color: white;
  margin-bottom: 15px;
}

.desktop {
  background: linear-gradient(#375B6D, #0C0C1B, #375B6D);
   width: 100%;
  height: 100vh;
  display: none;
}


@media all and (min-width: 748px){
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.form-title {
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 15px;
  margin-left: 0;

}
.signup{
width: 100%;
}

.desktop {
  display:block;
  color: white;
  text-align: center;
h3{
  font-size: 3em;
  display: flex;
  justify-content: center;
  margin-top: 15%;
  margin-left: 5%;
  font-weight: 700;
}
img{
  width:100%;
  mix-blend-mode: lighten;

}
}

}
