<div class="container">
  <div class="signup">
    <div class="logo">
      <img src="/assets/logo.png" alt="logo train companion" />
    </div>

    <h3 class="form-title">Création du compte</h3>

    <form #myForm="ngForm" (ngSubmit)="onSubmit()" class="form-champs">
      <div>
        <input
          class="input-top"
          type="text"
          id="username"
          name="username"
          placeholder="Pseudo"
          [(ngModel)]="signin.pseudo"
          #email="ngModel"
          required
        />
      </div>

      <div>
        <input
          class="input-no-border"
          type="text"
          id="firstname"
          name="firstname"
          placeholder="Prénom"
          [(ngModel)]="signin.firstname"
          #email="ngModel"
          required
        />
      </div>

      <div>
        <input
          class="input-no-border"
          type="text"
          id="name"
          name="name"
          placeholder="Nom"
          [(ngModel)]="signin.name"
          #email="ngModel"
          required
        />
      </div>

      <div>
        <input
          class="input-no-border input-no-border"
          type="date"
          id="birthday"
          name="birthday"
          placeholder="birthday"
          [(ngModel)]="signin.birthday"
          #email="ngModel"
          required
        />
      </div>

      <div>
        <input
          class="input-no-border input-no-border"
          type="email"
          id="email"
          name="email"
          placeholder="Email"
          [(ngModel)]="signin.email"
          #email="ngModel"
          required
          email
        />
      </div>
      <!-- ci-dessous création de la div qui va gérer les erreurs de validation
  affichage d'un message si le mail n'est pas rempli -->
      <!--<div *ngIf="email.errors">
        <span *ngIf="email.errors?.['required']">L'email est requis</span> -->
      <!-- <span *ngIf="email.errors?.['email']"
          >L'adresse email doit être valide</span -->

      <!-- </div> -->

      <div>
        <input
          class="input-key"
          type="password"
          id="password"
          name="password"
          placeholder="Mot de passe"
          [(ngModel)]="signin.password"
          #password="ngModel"
          required
          pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!])[A-Za-z\d@$!]{7,}$"
        />
      </div>

      <div>
        <input
          class="input-bottom"
          type="password"
          id="confirmPassword"
          name="confirmPassword"
          placeholder="Confirmer mot de passe"
          [(ngModel)]="confirmPassword"
          required
          pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!])[A-Za-z\d@$!]{7,}$"
        />
      </div>
      <!-- ci-dessous création de la div qui va gérer les erreurs de validation
  affichage d'un message si le mot de passe à moins de 5 caractères et pas de caractères speciaux -->
      <div *ngIf="password.errors">
        <!-- <span *ngIf="password.errors?.['required']"
          >Le mot de passe est requis</span -->

        <span *ngIf="password.errors?.['minlength']"
          >Le mot de passe doit contenir au moins 5 caractères</span
        >

        <span *ngIf="password.errors?.['required pattern']"
          >This is not a valid password</span
        >
      </div>

      <div>
        <button  class="button-text" type="submit">Créer un compte</button>
      </div>
    </form>
  </div>
</div>
