<div class="container">
  <div class="desktop">
    <h3>La plateforme pour trouver vos compagnons de voyage</h3>
    <img src="assets/desktop_img.png" alt="assis dans un train" />
  </div>

  <div class="signup">
    <h3 class="form-title">Création du compte</h3>

    <form #myForm="ngForm" (ngSubmit)="onSubmit()" class="form-champs">
      <div>
        <input
          class="input-top"
          type="text"
          id="username"
          name="username"
          placeholder="Pseudo"
          [(ngModel)]="signin.pseudo"
          #pseudo="ngModel"
          required
        />
      </div>

      <div>
        <input
          class="input-no-border"
          type="text"
          id="firstname"
          name="firstname"
          placeholder="Prénom"
          [(ngModel)]="signin.firstname"
          #firstname="ngModel"
          required
        />
      </div>

      <div>
        <input
          class="input-no-border"
          type="text"
          id="name"
          name="name"
          placeholder="Nom"
          [(ngModel)]="signin.name"
          #name="ngModel"
          required
        />
      </div>

      <div>
        <input
          class="input-no-border"
          type="date"
          id="birthday"
          name="birthday"
          placeholder="birthday"
          [(ngModel)]="signin.birthday"
          #birthday="ngModel"
          required
        />
      </div>

      <div>
        <input
          class="input-no-border"
          type="email"
          id="email"
          name="email"
          placeholder="Email"
          [(ngModel)]="signin.email"
          #email="ngModel"
          required
          pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}"
          [ngClass]="{ 'invalid-email': email.invalid && email.touched }"
        />
        <div *ngIf="email.invalid && email.touched" class="error-message">
          Le champ e-mail est invalide.
        </div>
      </div>
      <div>
        <input
          class="input-key"
          type="password"
          id="password"
          name="password"
          placeholder="Mot de passe"
          [(ngModel)]="signin.password"
          #password="ngModel"
          required
          pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[A-Za-z\d]{4,}$"
        />
        <div *ngIf="password.invalid && password.touched" class="error-message">
          Le mot de passe doit contenir au moins 7 caractères, une majuscule,
          une minuscule et un chiffre.
        </div>
        <span *ngIf="password.errors?.['minlength']"
          >Le mot de passe doit contenir au moins 5 caractères</span
        >
      </div>

      <div>
        <input
          class="input-bottom"
          type="password"
          id="confirmPassword"
          name="confirmPassword"
          placeholder="Confirmer Mdp"
          [(ngModel)]="confirmPassword"
          required
          pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!])[A-Za-z\d@$!]{4,}$"
        />
      </div>

      <div>
        <button class="button-text" type="submit">S'inscrire</button>
      </div>
    </form>

    <div class="back"><p (click)="returnSalon()">Retour au login</p></div>
  </div>
</div>
