<p>chat works!</p>
<div class="container">
  <div class="chat">
    <div *ngFor="let message of messages">  <!--Boucle sur les messages avec ngfor-->
      <div [ngClass]="{'left': message.userId !== userId, 'right': message.userId === userId}">
        {{message.userId === userId ? senderPseudo : receverPseudo }}: {{message.message}}
      </div>
    </div>
  </div>


<div class="user-input">
    <input type="text" [(ngModel)]="message" placeholder=" Veuillez tapez votre message">
    <button (click)="sendMessage( message)">Send</button>
  </div>
</div>
