<p>chat works!</p>
<div class="container">
  <div class="chat">
    <div *ngFor="let message of messages">  <!--Boucle sur les messages avec ngfor-->
      <div [ngClass]="{'left': message.userId === 'User1', 'right': message.userId === 'User2'}">
        {{message.userId}}: {{message.message}}
      </div>
    </div>
  </div>

  <div class="user-input">
    <input type="text" [(ngModel)]="messageA" placeholder="Message from User A">
    <button (click)="sendMessage('User1', messageA)">Send</button>
  </div>
<div class="user-input">
    <input type="text" [(ngModel)]="messageB" placeholder="Message from User B">
    <button (click)="sendMessage('User2', messageB)">Send</button>
  </div>
</div>
