.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: rgb(85, 85, 85);
}

.signup {
  margin-top: 7%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
  text-align: center;
}

.logo img {
  width: 150px;
  height: 110px;
  margin-bottom: 20px;
}

.signup button {
  width: 100%;
  height: 35px;
  border-radius: 15px;
  border: none;
  background-color: rgb(55, 90, 107);
  color: #ffffff;
  font-size: 1.1em;
  margin: 15px;
  margin-left: 0px;
}

.button-text {
    font-weight: 300;

  }

h1 {
  font-weight: 300;
  margin-top: 10px;
}

.form-title {
  font-weight: 100;
  margin-top: 30px;
  margin-bottom: 15px;
  text-align: center;
}

input {
  border: none;
  height: 30px;
  line-height: 30px;
  padding: 8px 15px;
  width: 80%;
}

.input-email {
  background-image: url(/assets/profil.png);
  background-position: 10px center;
  background-repeat: no-repeat;
  background-size: 15px 15px;
  padding-left: 40px;
  margin-bottom: 0px;
  border-radius: 15px 15px 0 0;
  background-color: white;
  border-bottom: 1px solid #ccc;
}

.input-key {
  background-image: url(/assets/cle.png);
  background-position: 10px center;
  background-repeat: no-repeat;
  background-size: 15px 15px;
  padding-left: 40px;
  border-radius: 0 0 10px 10px;
  background-color: white;
  margin-bottom: 15px;
}

.forgotten-password {
  text-decoration: none;
  font-size: small;
  font-weight: 100;
  color: grey;
}

.inscription {
  width: 70%;
  height: 100%;
  background-color: #365b6d;
  color: #fff;
 border-radius: 10px 10px 5px;
  text-align: center;
}

span {
  // color: rgb(255, 255, 255);
  font-weight: 800;
}

a
{
  text-decoration: none;
  color: #375B6D;
  font-weight: 400;
}

.link-create {
  display: none;
}

.desktop {
  background: linear-gradient(#375B6D, #0C0C1B, #375B6D);
   width: 100%;
  height: 100vh;
  display: none;
}

@media screen and (min-width: 748px){
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 200px;
  }

  .desktop {
    display:block;
    color: white;
    text-align: center;
h3{
  font-size: 3em;
  display: flex;
  justify-content: center;
  margin-top: 15%;
  margin-left: 5%;
  font-weight: 700;
}
img{
  width:100%;
  mix-blend-mode: lighten;
}
}

h1 {
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 40px;
}

.title {
  display: flex;
  flex-direction: column;
}
.title h3{
  font-size: x-large;
  text-align:initial;
  margin-right: 160px;
}

.signup{
width: 100%;
}

form-champs{
  width: 50%;
}

input {
  width: 100%;
  height: 40px;
}

.form-title {
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 15px;
}

.forgotten-password{
  text-align: right;
  margin-left: 180px;
  color: #365b6d;
  font-weight: 300;
}

.input-email,
.input-key {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 15px;
}

.signup button {
  width: 90%;
  height: 60px;
}

#button-create{
  display: none;
}

.link-create {
  display: contents;
  font-size: medium;
  font-weight: 300;
}

.button-text {
  font-weight: 600;
}
}
