<div class="container">


<h3 class="form-title">Nous contacter</h3>


<form (ngSubmit)="onSubmit(form)">
  <input   class="input-top" type="text" id="title" name="title"  placeholder="Titre" [(ngModel)]="form.title" required>

  <input type="email" id="email" name="email"  placeholder="Email"  [(ngModel)]="form.email" required>

  <textarea  class="input-bottom" id="message" name="message" placeholder="Message" [(ngModel)]="form.message" required></textarea>

  <button type="submit">Envoyer</button>
</form>

</div>
