.container{

}
.list{
  border: 1px solid #808080;
  border-radius: 10px;
  width: 80%;
  margin: auto;
  background-color: white;
}
li{
  list-style-type: none;
  font-size: 1.2em;
  color: #808080;
  text-align: center;
  border-bottom: 1px solid #808080;
  padding-bottom: 10px;
}


.title {
  text-align: center;
  margin: 10px;
  font-size: 1.8em;
  margin-bottom: 20px;
  color: #808080;

}
.inscrits{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.5em;
  color: #808080;
  text-align: center;
}
