<div class="container">

    <h3 class="form-title">Votre trajet {{user.firstname}}</h3>
  <div class="message">
<p>Vous recherchez un compagnon pour discuter, un covoiturage ou juste besoin de passer le temps  ?</p>
</div>
<form class="form"  #myForm="ngForm" (ngSubmit)="onSubmit()">
  <div>
       <input class="gare top" type="text" id="depart" name="depart"  placeholder="Gare de départ" [(ngModel)]="search.depart" required>
       <input class="gare bottom" type="text" id="arrivee" name="arrivée"  placeholder="Gare d'arrivée" [(ngModel)]="search.arrivee" required>
  <div class="horaire">
      <input class="date" type="date" id="date" name="date"  placeholder="date"  [(ngModel)]="search.date" required>
      <input class="heure" type="time" id="title" name="heure"  placeholder="Heure" [(ngModel)]="search.heureDepart" required>
  </div>
  </div>

  <div>
    <button  class="button-text" type="submit">Rechercher</button>
  </div>
  <div>
    <button  class="button-text" id="logout" type="submit" (click)="logout()" routerLink="/login">Logout</button>
  </div>
  </form>


</div>
