.container-desktop {
  display: none;
}

h3 {
  font-weight: 300;
  margin: 10px;
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #808080;

}

.container {
  position: relative;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: rgb(85, 85, 85);
  margin-top: 7%;
  width: 80%;
  text-align: center;
  margin: auto;
}

.form {
  margin-top: 20%;
}

.button-text {
  width: 60%;
  height: 35px;
  border-radius: 15px;
  border: none;
  background-color: rgb(55, 90, 107);
  color: white;
  font-size: 1.1em;
  margin-top: 25%;
  font-weight: 300;
}

.gare {
  border: none;
  height: 50px;
  line-height: 30px;
  padding: 8px 15px;
  width: 90%;
  color: rgb(131, 130, 130);
  border-radius: 15px;
  margin: 10px;
  box-shadow: 0 2px 0 1px #a2a2a2;
}

.horaire {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 15px;

}

.date {
  padding: 6px 12px;
  border-radius: 20px;
  border: 1px solid #ccc;
  width: 150px;
  font-size: 1.01em;
  color: rgb(131, 130, 130);
  box-shadow: 0.5px 2px 0 1px #979696;
}

.heure {
  padding: 6px 12px;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-size: 1.01em;
  box-shadow: 0 2px 0 1px #dadada;
}

.gareResult {
  width: 90%;
  height: 100px;
  overflow: auto;
  margin: auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 0 1px #a2a2a2;
  border: none;

}

@media all and (min-width: 748px) {

  .container {
    display: none;
  }

  .container-desktop {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 0;
  }


  .form-title-desktop {
    background-color: rgb(55, 90, 107);
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding-left: 10%;

    h1 {
      margin-top: 60px;
      color: whitesmoke;
      font-weight: 800;
      font-size: 1.5em;
    }
  }

  .search-barre {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 45px;
    margin-top: 0;
  }

  .form-desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 50%;
    margin-top: 0;
  }


  .gare-desktop {
    overflow: auto;
    height: 100%;
    border: none;
    border-right: 0.2px solid #b4afaf;

  }


  .input-container {
    position: relative;


    #depart {
      padding-left: 65px;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    #arrivee {
      padding-left: 68px;
    }

    #date {
      padding-left: 50px;
    }

    #time {
      padding-left: 55px;
    }

  }


  .input-label {
    position: absolute;
    left: 5px; // Ajustez la position en fonction de votre mise en page
    top: 50%;
    transform: translateY(-55%);
    pointer-events: none; // Pour que l'étiquette ne soit pas cliquable
    color: #333; // Couleur du texte "Départ"

  }

  .gareResult-desktop {
    position: absolute;
    left: 5px;
    top: 50px;
    height: 100px;
    width: 220px;
    overflow: auto;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 0 1px #a2a2a2;
    border: none;
    font-size: 1.1em;


  }

  .button-text-desktop {
    border-radius: 0px 15px 15px 0px;
    background: var(--Contraste, #8699DA);
    height: 100%;
    color: white;
    width: 180px;
    border: none;
  }

  .date-desktop {
    border: none;
    border-right: 0.2px solid #b4afaf;
    width: 160px;
    height: 100%;
    text-align: center;
  }

  .heure-desktop {
    border: none;
    width: 110px;
    height: 100%;
    text-align: center;

  }

}
