<div class="container" *ngIf="searchPage">

    <h3 class="form-title">Votre trajet</h3>

  <div class="message">
    <p>
      Vous recherchez un compagnon pour discuter, un covoiturage ou juste besoin
      de passer le temps ?
    </p>
  </div>
  <form class="form" #myForm="ngForm" (ngSubmit)="onSubmit()">
    <div>
      <div>
        <input
          class="gare top"
          type="text"
          id="depart"
          name="depart"
          placeholder="Gare de départ"
          [(ngModel)]="search.depart"
          required
          (keyup)="searchGareDepart()"
        />

        <div class="gareResult" *ngIf="GareDepartSelect">
          <p
            *ngFor="
              let gareOfDeparture of resultOfTrainSearchDepart;
              let i = index
            "
            (click)="selectGareDepart(i)"
          >
            {{ gareOfDeparture.gare_alias_libelle_noncontraint }}
          </p>
        </div>
      </div>
      <div *ngIf="GareArriverSelect">
        <input
          class="gare bottom"
          type="text"
          id="arrivee"
          name="arrivée"
          placeholder="Gare d'arrivée"
          [(ngModel)]="search.arrivee"
          required
          (keyup)="searchGareArriver()"
        />
        <div class="gareResult" *ngIf="GareArriverSelectInfo">
          <p
            *ngFor="
              let gareOfArriver of resultOfTrainSearchArriver;
              let i = index
            "
            (click)="selectGareArriver(i)"
          >
            {{ gareOfArriver.gare_alias_libelle_noncontraint }}
          </p>
        </div>
      </div>
      <div class="horaire" *ngIf="DateSelect">
        <input
          class="date"
          type="date"
          id="date"
          name="date"
          placeholder="date"
          [(ngModel)]="search.date"
          required
        />
        <input
          class="heure"
          type="time"
          id="title"
          name="heure"
          placeholder="Heure"
          [(ngModel)]="search.heureDepart"
          required
          (keypress)="sectectHeure()"
          (click)="sectectHeure()"
        />
      </div>
    </div>

    <div *ngIf="AllInfo">
      <button class="button-text" type="submit">Rechercher</button>
    </div>
    <div>
      <button
        class="button-text"
        id="logout"
        type="submit"
        (click)="logout()"
        routerLink="/login"
      >
        Logout
      </button>
    </div>
  </form>






<div class="containerTrainInfo" >
  <h1>Trouvez votre trajet</h1>
  <div class="listeDesTains">
    <div *ngFor="let train of listeOfTrain">
      <div class="affichagedestrain">
        <p> Au départ de : <b> {{train.sections[0].to.name}} </b> </p>
        <p> A :<b> {{train.sections[0].departure_date_time}}</b> </p>
        <p>A destination de : <b> {{train.sections[1].to.name}} </b></p>
        <p>Direction de : <b>{{train.sections[1].display_informations.direction}}</b></p>
        <p> Numéro de train : <b>{{train.sections[1].display_informations.trip_short_name}}</b> </p>
    </div>
    </div>
  </div>

</div>


</div>





























































































<div class="container-desktop">
  <div class="form-title-desktop">
    <h1 class="title">Recherchez votre voyage. Trouvez des compagnons.</h1>
    <form class="form-desktop" #myForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="search-barre">

          <div class="input-container">
            <input class="gare-desktop"
              type="text"
              id="depart"
              name="depart"
              placeholder="Gare de départ"
              [(ngModel)]="search.depart"
              required
              (keyup)="searchGareDepart()"
            />
            <label for="depart" class="input-label">Départ :</label>


          <div class="gareResult-desktop" *ngIf="GareDepartSelect">
            <p
              *ngFor="
                let gareOfDeparture of resultOfTrainSearchDepart;
                let i = index
              "
              (click)="selectGareDepart(i)"
            >
              {{ gareOfDeparture.gare_alias_libelle_noncontraint }}
            </p>
          </div>
        </div>
        <div class="input-container">
          <input class="gare-desktop"
            type="text"
            id="arrivee"
            name="arrivee"
            placeholder="Gare d'arrivée"
            [(ngModel)]="search.arrivee"
            required
            (keyup)="searchGareArriver()"
          />
          <label for="depart" class="input-label">Arrivée :</label>


        <div class="gareResult-desktop" *ngIf="GareArriverSelectInfo">
          <p
          *ngFor="
          let gareOfArriver of resultOfTrainSearchArriver;
          let i = index
        "
            (click)="selectGareArriver(i)"
          >
            {{ gareOfArriver.gare_alias_libelle_noncontraint }}
          </p>
        </div>
      </div>
            <div class="input-container">
        <input
          class="date-desktop"
          type="date"
          id="date"
          name="date"
          [(ngModel)]="search.date"
          required
        />
        <label for="arrivee" class="input-label">Date :</label>
        </div>
        <div class="input-container">
        <input
          class="heure-desktop"
          type="time"
          id="time"
          name="heure"

          [(ngModel)]="search.heureDepart"
          required
          (keypress)="sectectHeure()"
          (click)="sectectHeure()"
        />
        <label for="arrivee" class="input-label">Heure :</label>
        </div>
        <div>
        <button class="button-text-desktop" type="submit">Rechercher</button>
      </div>
      </div>

    </form>
  </div>


<div>

    <div class="message-desktop">
    <p>
      Vous recherchez un compagnon pour discuter, un covoiturage ou juste besoin
      de passer le temps ?
    </p>
  </div>

  <div class="bottom-desktop">
  <img class="image-search" src="/assets/searchTrain/searchTrainImage.jpg" alt="train" />
  <div class="text-desktop">
  <p class="text-search-desktop">Voyageurs d’un même train ?</p>
  <p class="text-search-desktop"> Connectez-vous avec les autres passagers grâce à nos salons de discussion ou discutez directement en privé.</p>
    <p class="text-search-desktop"> Échangez conseils, expériences & bons plans en temps réel. Tous les voyages grandes lignes sont référencés.</p>
    <p class="text-search-desktop"> Profitez pleinement de chaque trajet en compagnie de voyageurs passionnants.</p>
    <p class="text-search-desktop">Rejoignez-nous pour une expérience de voyage unique et connectée ! 🚆✨</p>
</div>
</div>
<div class="containerTrainInfo" *ngIf="listeTrain">

  <h1>Trouvez votre trajet</h1>


  <div class="listeDesTains-desktop">

    <div *ngFor="let train of listeOfTrain">

      <div class="affichagedestrains-desktop">
        <p> Au départ de : <b> {{train.sections[0].to.name}} </b> </p>
        <p> A :<b> {{train.sections[0].departure_date_time}}</b> </p>
        <p>A destination de : <b> {{train.sections[1].to.name}} </b></p>
        <p>Direction de : <b>{{train.sections[1].display_informations.direction}}</b></p>
        <p> Numéro de train : <b>{{train.sections[1].display_informations.trip_short_name}}</b> </p>

    </div>

    </div>
</div>





