h3 {
  font-weight: 300;
  margin: 10px;
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #808080;

}

.affichagedestrain{
  border: solid 1px #ccc;
}

.container {
  position: relative;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: rgb(85, 85, 85);
  margin-top: 7%;
  width: 80%;
  text-align: center;
  margin: auto;
}
.form{
  margin-top: 20% ;
}
button {
  width: 60%;
  height: 35px;
  border-radius: 15px;
  border: none;
  background-color: rgb(55, 90, 107);
  color: white;
  font-size: 1.1em;
  margin-top: 25%;
  font-weight: 300;
}

.gare{
  border: none;
  height: 50px;
  line-height: 30px;
  padding: 8px 15px;
  width: 90%;
  color: rgb(131, 130, 130);
  border-radius: 15px;
  margin: 10px;
  box-shadow: 0 2px 0 1px #a2a2a2;
}

.horaire{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 15px;

}
.date {
  padding: 6px 12px;
  border-radius: 20px;
  border: 1px solid #ccc;
  width: 150px;
  font-size: 1.01em;
  color: rgb(131, 130, 130);
  box-shadow: 0.5px 2px 0 1px #979696;
}
.heure{
  padding: 6px 12px;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-size: 1.01em;
  box-shadow: 0 2px 0 1px #dadada;
}

.gareResult{
  width: 90%;
  height: 100px;
  overflow: auto;
  margin : auto;  
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 0 1px #a2a2a2;
  border: none;
  
}



