* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -moz-box-sizing: border-box; box-sizing: border-box;

}

// Déclaration des variables couleurs
:root{
  --background-color-white: rgb(255, 255, 255);
  --background-color-grey : rgb(245, 245, 245);
  --background-color-blue : rgb(55, 90, 107);
}

html,body{
    background-color: var(--background-color-grey);;

}

@media screen and (min-width: 748px){

  html,body{
   background: none;
   background-color: var(--background-color-grey);

}
}


