<div class="container">
  <div class="chat">
    <ng-container *ngFor="let msg of messages; let i = index">
      <div [ngClass]="{'containerchat': true, 'last-chat-item': i === messages.length - 1}">
        <div *ngIf="msg.message !== ''" class="sender-and-receiver-parent">
          <p *ngIf="i === 0 || msg.date !== messages[i - 1].date" id="date">
            {{ msg.date }}
          </p>

          <div class="sender" *ngIf="msg.user_id.username === user.username">
            <p class="avatar-and-username">
              <img src="assets/Avatar/{{ msg.user_id.avatar }}" alt="avatar" class="avatar" />
              <b>Moi</b>
            </p>
            <p>{{ msg.message }}</p>
            <span class="time">{{ formatTime(msg.heure) }}</span>
          </div>
          <div class="receiver" *ngIf="msg.user_id.username !== user.username">
            <p class="avatar-and-username">
              <img src="assets/Avatar/{{ msg.user_id.avatar }}" alt="avatar" class="avatar" />
              <b>{{ msg.user_id.username }}</b>
            </p>
            <p>{{ msg.message }}</p>
            <span class="time">{{ formatTime(msg.heure) }}</span>
          </div>
        </div>
      </div>
    </ng-container>
  </div>

  <div class="sendmessage">
    <textarea
      [(ngModel)]="message" ngx-emoji
      (keyup.enter)="sendMessage()"
      placeholder="Saisissez votre message..."
      rows="1"
      class="chat-textarea"
    ></textarea>
    <img src="assets/send2.png" (click)="sendMessage()" />
  </div>
</div>
