.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  overflow: hidden;
  background-color: #f5f5f5;
  // background-image: url("/assets/background-chat.png");
}

.containerchat {
  width: 100%;
  max-width: 100%;
  border-radius: 10px;
  background-color: #f5f5f5;
  overflow-y: auto;
  height: 70vh;
  margin-bottom: 15px;
  max-height: 70vh;
}

#date {
  text-align: center;
  margin-top: 10px;
  color: #999;
  font-size: 0.8rem;
}



.sender-and-receiver-parent {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  margin-left: 10px;
  margin-right: 10px;
}

.sender,
.receiver {
  display: flex;
  flex-direction: column;
  max-width: 70%;
  margin: 5px 0;
  padding: 10px;
  border-radius: 10px;
  font-size: 1rem;
}

.sender {
  align-self: flex-end;
  background-color: #007bffcb;
  color: #fff;
  align-self: flex-end;
}

.receiver {
  align-self: flex-start;
  background-color: #ffffff;
  color: #333;
  align-self: flex-start;
}

.sender p,
.receiver p {
  margin: 0;
  font-weight: 400;
}

.sender b {
    font-weight: 700;
line-height: 0.6;}

.sender img,
.receiver img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.sendmessage {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 800px;
  margin-top: 20px;
  position: sticky;
  bottom: 0;
  background-color: #f5f5f5;
  padding-bottom: 5px;
}

textarea {
  height: 50px;
  width: 90%;
  border: none;
  padding: 10px;
  resize: none;
  border-radius: 50px;
}

.sendmessage img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
