<div class="container">
  <h2>À propos de moi</h2>

  <div class="pseudo">
    <span> {{user.pseudo}} </span>
    <span (click)="editPseudo()">
<i class="edit">[src]="/assets/edit.png"></i>
    </span>

  <div class="color">
    <label>Couleur du pseudo : </label>
    <select>
      <option *ngFor="let color of colorOptions" [style.background]="color">
        {{ color }}
      </option>
    </select>
  </div>

  <button (click)="getUser()">Récupérer le compte</button>

  <div class="avatar"></div>
</div>
