<div class="container">
  <div><h2>À propos de moi</h2></div>
  <div class="pseudo">
    <button (click)="getUser()">Pseudo</button>
    <span> {{ user.pseudo }} </span>
  </div>

  <div class="color">
    <label>Couleur du pseudo : </label>
    <select>
      <option *ngFor="let color of colorOptions" [style.background]="color">
        {{ color }}
      </option>
    </select>
  </div>

  <div class="switch">
    Disponible MP : <input type="checkbox" [(ngModel)]="user.is_available" />
    <span class="slider"></span>
  </div>

  <div class="avatar">Votre avatar :</div>

  <div>
    <button>Valider</button>
  </div>
</div>
