<div class="container">
  <div>
    <h2>À propos de moi</h2>
  </div>
  <div class="user-infos">
    <div class="avatar-and-identity">
      <div class="avatar">
        <img [src]="user.avatar" alt="Avatar de l'utilisateur" />
        <button (click)="openAvatarModal()">Modifier</button>

        <!-- La modale -->
        <div *ngIf="isModalOpen" class="avatar-modal">
          <h3>Sélectionnez un avatar :</h3>
          <div class="avatar-options">
            <div *ngFor="let avatar of avatarOptions">
              <img [src]="avatar" alt="Avatar" (click)="selectAvatar(avatar)" />
            </div>
          </div>
          <button (click)="closeAvatarModal()">Fermer</button>
        </div>
      </div>
      <div class="identity">
        <span class="text" id="firstname">{{ user.firstname }}</span>
        <span class="text" id="name">{{ user.name }}</span>
        <span class="text" id="username">{{ user.username }}</span>
      </div>
    </div>
    <div class="email text" id="email">
      {{ user.email }}
    </div>
    <div class="birthday text" id="birthday">
      {{ user.birthday }}
    </div>
  </div>

  <div class="color">
    <label>Couleur du pseudo dans le chat </label>
    <div class="color-buttons">
      <button
        *ngFor="let color of colorOptions"
        (click)="saveSelectedColor(color)"
        [style.background-color]="color"
      ></button>
    </div>
  </div>

  <div class="toggle-switch">
    <span>
      <img src="votre-icone-info.png" alt="Icône d'information" title="En cochant cette case, vous acceptez qu'un autre utilisateur de l'application puisse vous contacter en message privé" />
    </span>
    <span>Disponible MP: </span>
    <input type="checkbox" id="toggle" class="toggle-input" />
    <label for="toggle" class="toggle-label"></label>
  </div>

  <!-- <div>
    <button (click)="saveSelectedColor(color)">Valider</button>
  </div> -->
</div>
