.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 150px;
  height: 110px;
  margin-bottom: 20px;
}

select{
padding: 8px;
font-size: 14px;
border: 1px solid #ccc;
border-radius: 10px;
}
