.container {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: rgb(85, 85, 85);
}
.entete{
  display: flex;
  flex-direction: row;
}
.form-title {
  text-align: center;
  margin-bottom: 20px;
  color: #365B6D;
}

.info-train-img {
  display: none;
}
.back {
  display: none;
}
.backMobile {
  display: block;
  position: absolute;
  left: 20px;
  top: 2px;
  img {
    width: 20px;
    margin: auto;
    cursor: pointer;
  }
}
.conso {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-size: 40px 40px;
  color: #365b6d;
  font-weight: 600;
  margin-bottom: 5px;
  height: 40px;
  width: 100%;
}
.quantity {
  display: flex;
  align-items: center;
  margin-right: 20px;
  margin-left: 10px;
}


.icon img {
  width: 30px;
  height: 30px;
}

.retard{
  margin-bottom: 20px;
  text-align: center;
  color: #e40d0d;
  overflow-y: auto;
  span{
    color: #365B6D;
    font-weight: 450;
    text-decoration: underline;
    margin-bottom: 10px;
  }
}
// div du ngFor
.formTrain {
  overflow: scroll;
  max-height: 420px;
  border-radius: 5%;
  box-shadow: #365B6D 0px 0px 5px 0px;
  background: linear-gradient(to bottom, #95b5d0, #556f85);
}

.infoContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1em;
  max-height: 100px;
  align-items: center;
  // background-color: rgba(186, 219, 241, 0.858);
  margin: auto;
  width: 300px;


}
.heureDep {
  display: flex;
  align-items: center;
  text-align: start;
  padding-left: 10px;
  border-right: 4mm ridge #365B6D;
  padding: 1px;
  margin: auto;
  position: relative;
  width: 99px;
  height: 100px;
  p {
    border: none;
    border-radius: 15px 15px 15px 15px;
    padding: 5px;
    background-color: whitesmoke;
    font-weight: 400;
  }
}
.heureBarre{
  text-decoration: line-through;
}

.heureDep::before {
  content: '';
  position: absolute;
  background: linear-gradient(to bottom, #f7f7eb, #94b0b7);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  left: 92px;
  transform: translateX(-50%);

}
.gareName {
  width: 60%;
  text-align: center;
  margin: auto  ;
  font-size: 1.2em;
  font-weight: 500;
  color: white;
}



@media all and (min-width: 748px) {


  .form-title {
    background-color: rgb(55, 90, 107);
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    margin-bottom: 20px;
    h3 {
      color: whitesmoke;
      font-weight: 800;
      font-size: 30px;
    }
  }
  .back {
    display: block;
    text-align: start;
    margin: auto;
    margin-left: 2%;
    margin-bottom: 2%;
    text-decoration: underline;
    cursor: pointer;
    font-weight: 300;
    .p {
      width: 50px;
    }
  }
  .backMobile {
    display: none;
  }
  .desktop-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin: auto;

  }
  .info-train-img {
    display: flex;
    justify-content: center;
    width: 50%;
    img {
      width: 50%;
      border-radius: 15%;
    }
  }
  .infoContainer {
width: 400px;
  }
  .formTrain{
    width:30%;
   margin: auto;
   max-height: 370px;
  }
  .gareName {
    width: 90%;
    text-align: center;
    margin-left: 50px ;
    font-size: 1.2em;
    font-weight: 500;
    color: white;
  }


  .heureDep::before {
    content: '';
    position: absolute;
    background: linear-gradient(to bottom, #f7f7eb, #94b0b7);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    left: 99px;
    transform: translateX(-50%);

  }
  .heureDep {
    display: flex;
    align-items: center;
    text-align: start;
    padding-left: 10px;
    border-right: 4mm ridge #365B6D;
    padding: 1px;
    margin: auto;
    position: relative;
    width: 150px;
    height: 100px;

    p {
      border: none;
      border-radius: 15px 15px 15px 15px;
      padding: 5px;
      background-color: whitesmoke;
      font-weight: 400;

    }
  }
  .heure{
width: 60px;
  }
  .heureBarre{
    text-decoration: line-through;
  }

  .retard{
    margin-bottom: 2px;
    text-align: center;
    color: #e40d0d;
    overflow-y: auto;
    span{
      color: #365B6D;
      font-weight: 450;
      text-decoration: underline;

    }
  }
}
