<div class="container">
  <div class="backMobile">
    <img src="/assets/Header/fleche.png" (click)="returnSalon()" alt="retour" />
  </div>
  <div class="form-title">
    <h3>
      Votre train :
      <b
        *ngIf="
          retard.vehicle_journeys[0].stop_times[0].headsign !== null ||
          undefined
        "
        >{{ retard.vehicle_journeys[0].stop_times[0].headsign }}</b
      >
    </h3>
  </div>
  <div class="conso">
    <div class="back"><p (click)="returnSalon()">Retour au salon</p></div>
    <div class="icon">
        <img src="/assets/info-train/co2.1.png" alt="CO2 Icon" />
      </div>
    <div class="quantity">
      <p>: 450</p>
    </div>
  </div>
  <div class="retard" ><p>Pas de retard pour une fois vive la sncf</p></div>

  <p *ngIf="retard.disruptions.length > 0">
    Cause du retard : {{ retard.disruptions[0].messages[0].text }}
  </p>

  <div class="desktop-content">
<div class="formTrain">
  <div>

    <div *ngFor="let retardTrain of retard.vehicle_journeys">
      <div
        class="infoGare"
        *ngFor="let retardStopTrain of retardTrain.stop_times; let i = index"
      >
        <div class="infoContainer">
          <div class="heureDep">
          <p>
            {{ formatTime(retardStopTrain.departure_time) }}
            <span *ngIf="retard.disruptions.length > 0">
              heure de départ réel :
              {{
                formatTime(
                  retard.disruptions[0].impacted_objects[0].impacted_stops[i]
                  .amended_departure_time
                  )
              }}
            </span>
          </p>
          </div>
          <div class="gareName">
          <p>
            {{ retardStopTrain.stop_point.name }}
          </p>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="info-train-img">
    <img src="assets/info-train/train-info.png" alt="" />
  </div>
               
</div>
</div>
