<div class="container">

  <div class="backMobile"><img src="/assets/Header/fleche.png" (click)="returnSalon()" alt="retour"></div>
  <div class="form-title"><h3>Votre train</h3></div>

  <div class="back"><p (click)="returnSalon()" >Retour au salon</p></div>
  <div class="info-container">
    <div class="info-content">
      <div class="formTrain">
        <div class="info-train">
          <div class="info-train-titre">Numéro de train</div>
          <div class="info-reel">5669</div>
        </div>
        <div class="info-train">
          <div class="info-train-titre">Heure de départ</div>
          <div class="info-reel">12h58</div>
        </div>
        <div class="info-train">
          <div class="info-train-titre">Heure d'arrivée</div>
          <div class="info-reel">13h58</div>
        </div>
        <div class="info-trainD">
          <div class="info-train-titre">Retard</div>
          <div class="info-reel">Lorem ipsum dolor sit, amet consectetur adipisicing
          elit. Officiis officia aspernatur rerum, voluptate voluptates
          doloremque pariatur ex neque, praesentium voluptatum quaerat autem,
          sequi natus molestias tempora labore? Maiores, quaerat porro.
        </div>
        </div>
      </div>
    </div>
    <div class="info-train-img">
      <img src="assets/info-train/train-info.png" alt="" />
    </div>
  </div>
</div>
